//font
:root {
  --heading-font: "Raleway";
  --body-font: "Open Sans";
  --h1-font-size: 2rem;
  --h3-font-size: 1rem;
  --small-font-size: 0.8rem;
  --big-font-size: 5rem;
}

//color
:root {
  --color-first: #ea4c89;
  --color-secondary: #1d2063;
  --color-text: #fff;
  --first-color: #010a43;
  --second-color: #ffc2c2;
}
